
@{
    ViewBag.Title = "Administration";
}

<h2>Administration area</h2>
<hr />
<div>
    <p> @Html.ActionLink("Manage tests", "Index", "TestManager", null, null)</p>
</div>

<div>
    <p> @Html.ActionLink("Manage users", "Users")</p>
</div>

